/* Write some CSS below */

body {
  margin: 0px
}
h1  {
  color: white;
}

.banner{
  background-image: url(images/banner3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 100px 100px 100px;
}


.banner h1{
  font-size: 50px
}

.banner p{
  margin: 30px 0px 30px 0px;
  font-size: 25px;
}


.btn-blue {
  background-color: #F5AA29;
  outline: solid;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 60px;
  border-radius: 2px;
}



.btn-blue:hover {
  background-color: #FF8564;
  color: yellow;
  font-weight: bolder;
  text-decoration: none;
  padding: 12px 65px;
}

/*------------------------------------------------------*/


.container{
  margin: 40px 200px 40px 200px;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 25px;
  margin: 20px 0px 70px;
}



.btn-shanghai{
  
  background-image: url(images/dish1.jpg);
  background-size: cover;
  padding: 65px 115px 65px;
  border-radius: 2px;
}

.btn-london{
  
  background-image: url(images/dish2.jpg);
  background-size: cover;
  padding: 65px 115px 65px;
  border-radius: 2px;
}


.btn-paris{
  
  background-image: url(images/dish3.jpg);
  background-size: cover;
  padding: 65px 115px 65px;
  border-radius: 2px;
}


.allcards{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.18);
  padding: 100px 35px 35px 45px
}

.allcards:hover{
  box-shadow: 1px 1px 10px rgba(245,170,41,0.5);
}


h3{
  margin: 80px 0px 0px 0px;
}

.container p{
  margin: 10px 0px 0px 0px;
}


.youtubevid{
  /*margin: 0px 400px 0px 400px;*/
  display: flex;
flex-direction: column;
align-items: center;

}


/*---------------------------------------------------------*/
.footer{
  background-color: rgb(245,189,169,100);
  padding: 5px 20px 5px 20px;
  /*margin: 80px 0px 20px 0px;*/
}


/* Cards media queries */
@media (max-width: 1200px) {
  
  .banner{
  padding: 100px 100px 100px 100px;
  background-image: url(images/bannermob.jpg);
 }

/* .banner p{
  font-weight: bolder;
  margin: 0px;
 }*/


/*  background-image: url(images/banner3.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 20px 100px 100px 100px;*/


  .cards{
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  

  .banner h1{
    margin: 0px;
  font-size: 50px
  }

  .banner p{
  font-size: 25px;
  margin: 0px 0px 50px 0px
  }

  .container h2{
   font-size: 35px;
   text-align: left;
  }

  .allcards h3{
    font-size: 25px;
      }

   .allcards p{
    font-size: 15px;
  }

 .container{
  text-align: center;
  }


  .btn-shanghai{
  
  background-image: url(images/dish1.jpg);
  background-size: cover;
  padding: 165px 215px 165px;
  border-radius: 2px;
  }

  .btn-london{
  
  background-image: url(images/dish2.jpg);
  background-size: cover;
  padding: 165px 215px 165px;
  border-radius: 2px;
  }


  .btn-paris{
  
  background-image: url(images/dish3.jpg);
  background-size: cover;
  padding: 165px 215px 165px;
  border-radius: 2px;
  }

  .allcards{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  padding: 200px 5px 30px 0px
  }

  h3{
  margin: 200px 0px 0px 0px;
  }

.container p{
  margin: 10px 0px 0px 0px;
  }



}